# PostgreSQL
POSTGRES_DB=aromatheca
POSTGRES_USER=aromatheca_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

# Backend
CORE_PORT=8080

# Object storage for local Docker Compose
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Frontend
WEB_PORT=3000
